<!doctype html>
<html>
<head>
	<title> Homepage</title>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
<style>
	h1 {
		text-align: center;
	}
	body {
		background-image: url("background.jpg");
	}
	#myCarousel {
		margin: auto;
		padding: 100px 0;
		width: 50%;
	}
	.container {
		text-align: center;
		background-color: DarkGrey;
		height: 1000px;
		border: 8px dashed yellow;;
	}
	.topnav {
		background-color: #E2D400;
		overflow: hidden;
	}
	.topnav a {
		float: left;
		color: #f2f2f2;
		text-align: center;
		padding: 14px 16px;
		text-decoration: none;
		font-size: 17px;
	}
	.topnav a:hover {
		background-color: #ddd;
		color: black;
	}
	.topnav a.active {
		background-color: red;
		color: white;
	}
	td{border-style: solid;}
	th{border-style: solid;}
</style>
</head>
<body>
	<div class='topnav'>
		<a class="active" href="http://flip1.engr.oregonstate.edu:41799"> Home </a>
		<a href="http://flip1.engr.oregonstate.edu:41799/form"> Form </a>
		<a href="http://flip1.engr.oregonstate.edu:41799/manga"> Manga </a>
		<a href="http://flip1.engr.oregonstate.edu:41799/anime"> Anime </a>
	</div>
		{{{body}}}
</body>
</html>
