<div class="container">
	<h1> One Piece Anime </h1>
	<br/>
	<h3> Latest English Subbed Anime Episodes</h3>
	<ul>
		<li><a href="https://www.crunchyroll.com/one-piece/episode-964-whitebeards-little-brother-odens-great-adventure-801876">Episode 964</a></li>
		<li><a href="https://www.crunchyroll.com/one-piece/episode-963-odens-determination-whitebeards-test-801875">Episode 963</a></li>
		<li><a href="https://www.crunchyroll.com/one-piece/episode-962-changing-destiny-the-whitebeard-pirates-cast-ashore-801874">Episode 962</a></li>
		<li><a href="https://www.crunchyroll.com/one-piece/episode-961-tearfully-swearing-allegiance-oden-and-kinemon-801873">Episode 961</a></li>
		<li><a href="https://www.crunchyroll.com/one-piece/episode-960-the-number-one-samurai-in-the-land-of-wano-here-comes-kozuki-oden-801872">Episode 960</a></li>
		<li><a href="https://www.crunchyroll.com/one-piece/episode-959-the-rendezvous-port-the-land-of-wano-act-three-begins-801871">Episode 959</a></li>
		<li><a href="https://www.crunchyroll.com/one-piece/episode-958-a-legendary-battle-garp-and-roger-801870">Episode 958</a></li>
		<li><a href="https://www.crunchyroll.com/one-piece/episode-957-big-news-an-incident-that-will-affect-the-seven-warlords-798710">Episode 957</a></li>
		<li><a href="https://www.crunchyroll.com/one-piece/episode-956-ticking-down-to-the-great-battle-the-straw-hats-go-into-combat-mode-798709">Episode 956</a></li>
		<li><a href="https://www.crunchyroll.com/one-piece/episode-955-a-new-alliance-kaidos-army-gathers-798708">Episode 955</a></li>
	</ul>
	<br/>
	<h3> Latest English Dubbed Anime Episodes</h3>
	<ul>
		<li><a href="https://www.funimation.com/shows/one-piece/the-admirals-decision-fujitora-vs-doflamingo/?qid=None&lang=english">Episode 667</a></li>
		<li><a href="https://www.funimation.com/shows/one-piece/the-end-of-the-match-a-surprising-result-of-block-d/?qid=None&lang=english">Episode 666</a></li>
		<li><a href="https://www.funimation.com/shows/one-piece/a-burning-passion-rebecca-vs-suleiman/?qid=None&lang=english">Episode 965</a></li>
		<li><a href="https://www.funimation.com/shows/one-piece/operation-sop-starts-usoland-charges-forth/?qid=None&lang=english">Episode 964</a></li>
		<li><a href="https://www.funimation.com/shows/one-piece/luffy-astonished-the-man-who-inherits-aces-will/?qid=None&lang=english">Episode 963</a></li>
		<li><a href="https://www.funimation.com/shows/one-piece/two-great-rivals-meet-each-other-straw-hat-and-heavenly-demon/?qid=None&lang=english">Episode 962</a></li>
		<li><a href="https://www.funimation.com/shows/one-piece/a-showdown-between-the-warlords-law-vs-doflamingo/?qid=None&lang=english">Episode 961</a></li>
		<li><a href="https://www.funimation.com/shows/one-piece/a-nightmare-the-tragic-night-of-dressrosa/?qid=None&lang=english">Episode 960</a></li>
		<li><a href="https://www.funimation.com/shows/one-piece/a-horrible-past-the-secret-of-dressrosa/?qid=None&lang=english">Episode 959</a></li>
		<li><a href="https://www.funimation.com/shows/one-piece/a-big-surprise-the-true-identity-of-the-toy-soldier/?qid=None&lang=english">Episode 958</a></li>
	</ul>
</div>
