
<h1> Survey </h1>
</br>
<div class="container">
	<form action="http://web.engr.oregonstate.edu/~zhangluy/tools/class-content/form_tests/check_request.php" action="post">
		<fieldset>
			<legend> OnePiece Viewership Poll </legend>
				<label> Do you watch Onepiece?
				<input type="radio" name ="PollA" value="yes" /> Yes </label>
				<input type="radio" name ="PollA" value="no" /> No </label>
			</label>
			<br/>
			<label> Do you read Onepiece?
				<input id="PollA" type="radio" name ="PollB" value="yes" /> Yes </label>
				<input id="PollB" type="radio" name ="PollB" value="no" /> No </label>
			</label>
			<br/>
			<label>
				<input id="submit" type="submit" value="Submit">
			</label>
		</fieldset>
	</form>
</div>
