<div class="container">
	<h1> Welcome to One Piece World </h1>
	</br>
	<h2> Strawhat Pirates Crew </h2>
	</br>
	<div id="myCarousel" class="carousel slide" data-ride="carousel">
		<o1 class="carousel-indicators">
			<li data-target="#myCarousel" data-to-slide="0"></li>
			<li data-target="#myCarousel" data-to-slide="1"></li>
			<li data-target="#myCarousel" data-to-slide="2"></li>
		</o1>
		
		<div class="carousel-inner">
			<div class="item active">
				<img src="Luffy.png" alt="Luffy via Pintrest">
			</div>
		
			<div class="item">
				<img src="Zoro.jpg" alt="Zoro via Pintrest">
			</div>
	
			<div class="item">
				<img src="Sanji.jpg" alt="Sanji via Pintrest">
			</div>
		</div>


		<a class="left carousel-control" href="#myCarousel" data-slide="prev">
			<span class="glyphicon glyphicon-chevron-left"></span>
			<span class="sr-only">Next</span>
		</a>
	</div>
	</br>
	<h3>Download a Picture of All One Piece Characters </h3>
	<a href="/background.jpg" download> Click Me to Download</a>
</div>
